@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: url("https://cdn.pixabay.com/photo/2017/10/20/10/58/elephant-2870777_1280.jpg") no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.container {
  text-align: center;
  margin: 1rem auto 0;
  padding: 0 1rem;
}
.container > * {
  padding: 1rem;
}
.container h5 {
  font-size: 1rem;
}
.container form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.container form input {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.container form button {
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 0.7rem 1rem;
  background: #ffffff;
  color: #b6281b;
  cursor: pointer;
  transition: 0.2s linear;
}
.container form button:hover {
  background: #b6281b;
  color: #ffffff;
}
.container h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.container h5, .container h1, .container p {
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.container p {
  font-size: 1rem;
  width: 80%;
  margin: auto;
}
.container .hidden {
  display: none;
}
.container .pickedTime {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container .pickedTime .time {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background: #ffffff;
}
.container .pickedTime .time span {
  font-size: 1.5rem;
  color: #b6281b;
}
.container .pickedTime .time p {
  color: #000000;
  width: 100%;
}
.container .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container .boxes .box {
  background: #ffffff;
  margin: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container .boxes .box span {
  color: #b6281b;
  font-weight: bold;
  font-size: 2rem;
}
.container .boxes .box p {
  color: #000000;
  width: 100%;
}